.lv-wrapper{
  color: var(--dark);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
}

.link{
  color: inherit;
  text-decoration: none;
}

.link-title{
  font-weight: 400;
  font-size: 18px;
}

.btn-light{
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: var(--accent);
  color: var(--dark);
  margin: 0px 10px;
}